:root {
    --primary-font: "Kanit", serif;
    --primary-color: #CBBBAF;
    --secondary-color: #323232;
    --tertiary-color: #A67B5B;
}

*{
    font-family: var(--primary-font);
    color: var(--secondary-color);
    box-sizing: border-box;
}


body{
    background: linear-gradient(135deg, #CBBBAF, #D6C8BE, #B7A89D);
    padding: 0;
    margin: 0;
    min-height: 100vh;
}



/* NAV BAR */


nav{
    display: flex;
    border-bottom: solid var(--secondary-color) 4px;
    min-height: 12vh;
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
}

nav a{
    width: 40%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#logo {
    width: 60px;
    height: 70px;
    animation: logoin 2.5s;
    -moz-animation: logoin 2.5s; /* Firefox */
    -webkit-animation: logoin 2.5s; /* Safari et Chrome */
    -o-animation: logoin 2.5s; /* Opera */
}

@keyframes logoin {
    0%{
    opacity:0.2;
    transform: rotate(-120deg);
    translate: -300px;
    }
    100% {
    opacity: 1;
    transform: rotate(360deg);
    translate: 0px;
    }
}

.div-burger {
    display: none;
}

#burger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 11;
}

#burger-menu span {
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--secondary-color);
    border-radius: 2px;
    transition: all 0.3s ease;
}

#nav-menu {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60%;
    transition: transform 0.3s ease-in-out;
}

nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60%;
}

nav ul a {    
    text-decoration: none;
}

nav ul a li{
    font-size: 120%;
    padding: 2.7%;
    transition: 0.3s;
    border-radius: 50px;
}

nav ul a li:hover{
    background-color:  var(--secondary-color);
    color: var(--tertiary-color);
    border-radius: 50px;
}

@media (max-width: 768px) {

    nav {
        flex-direction: row-reverse;
        justify-content: center;
    }

    nav a{
        width: 45%;
    }

    .div-burger {
        display: flex;
        align-items: center;
        width: 40%;
    }

    #burger-menu {
        display: flex;
    }

    #nav-menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 12vh;
        left: 0;
        width: 100%;
        background-color: var(--primary-color);
        transform: translateY(-200%); 
        z-index: 10;
    }

    #nav-menu.active {
        transform: translateY(0);
        padding: 0;
    }

    #nav-menu a li {
        text-align: center;
        padding: 15px 0;
        width: 100%;
    }

    #burger-menu.active span{
        transform: rotate(45deg) translate(5px, 5px);
    }
}

/* mid section */


.mid{
    display: flex;
    height: 60vh;
}

.mid-text{
    width: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-left: 6%;
}

.mid-text h1{
    border-radius: 10px;
    animation: colorChange 3s infinite alternate;
}

.mid-text p{
    
    animation: sizeChange 3s infinite alternate;
}


@keyframes colorChange {
    0% {
      color: var(--secondary-color);
    }
    100% {
      color: var(--tertiary-color);
    }
}


.mid-img{
    width: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
}


.circle-image {
    height: 40vh; 
    border-radius: 50%; 
    border: 7px solid var(--tertiary-color);
    animation: pulsate 3s infinite; 
}


@keyframes pulsate {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.05);
      opacity: 0.8;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
}

@media (max-width: 768px) {
    .mid{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .mid-text{
        padding: 0;
        width: 90%;
    }

    .circle-image {
        height: 20vh; 
    }
}


/* Button */

.bottom-button {
    width: 100%;
    height: 14vh;
}

.div-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    padding: 10px 30px;
    font-size: 16px;
    font-weight: bold;
    color: var(--secondary-color);
    text-decoration: none;
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
    background-color: transparent;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
}

.buttonW {
    padding: 10px 30px;
    font-size: 16px;
    font-weight: bold;
    color: var(--tertiary-color);
    text-decoration: none;
    border: 2px solid var(--tertiary-color);
    border-radius: 5px;
    background-color: transparent;
    transition: all 0.3s ease;
}

.buttonW:hover {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
}


/*###############
### PORTFOLIO ###
###############*/
 
.exp-title{
    min-height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.exp-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    align-items: flex-start;
    width: 100%;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;
    gap: 1%; 
    box-sizing: border-box; 
}

.experience {
    opacity: 0;
    transform: scale(0);
    background-color: #d3d3d3;
    width: 26%;
    aspect-ratio: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    position: relative; 
    overflow: hidden; 
    transition: transform 0.3s ease, background-color 0.3s ease;
    margin: 3%;
    animation: fadeInexp 1s ease forwards;
}

.experience:hover {
    transform: scale(1.05);
    background-color: #bbb;
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.7);
}

@keyframes fadeInexp {
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.experience img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.description {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7); 
    text-align: center;
    opacity: 0; 
    transition: opacity 0.3s ease;
}

.description h2 {
    color: var(--primary-color);
}

.description p {
    color: var(--primary-color);
}

.experience:hover .description {
    opacity: 1; 
}

@media (max-width: 768px) {
    .exp-section {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding-bottom: 3%;
        padding-left: 3%;
        padding-right: 3%;
        gap: 1%; 
    }

    .experience {
        width: 75%;
    }

    .description.active {
        opacity: 1;
    }

    .description h2 {
        font-size: 80%;
    }
    
    .description p {
        font-size: 60%;
    }

}



/*###############
#### CONTACT ####
###############*/

.contact-section {
    width: 100%;
    min-height: 83vh;
    display: flex;
}

.contact-cv {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#cv {
    height: 62vh;
    transition: 0.3s;
}

#cv:hover {
    height: 72vh;
}


.reseau {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reseau h2{
    margin: 0;
    padding-top: 10px;
}

.wrap-logo{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    text-align: center;
}

.wrap-logo a img{
    height: 10vh;
    transition: 0.3s;
}

.wrap-logo a img:hover {
    height: 12vh;
}

/* FORMULAIRE */
.reseau form.styled-form {
    background-color: transparent;
    border-radius: 15px;
    width: 60%;
}

.reseau form h3 {
    color: var(--secondary-color);
    text-align: center;
    font-size: 1.8rem;
    margin: 0;
}

.reseau .form-group {
    display: flex;
    flex-direction: column;
}

.form-group {
    padding: 2px;
}

.reseau label {
    color: var(--secondary-color);
    margin-bottom: 6px;
    font-weight: bold;
}

.reseau input,
.reseau textarea {
    border: none;
    border-radius: 8px;
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    font-size: 1rem;
    resize: none;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.1);
}

.reseau input::placeholder,
.reseau textarea::placeholder {
    color: var(--primary-color);
}

.reseau input:focus,
.reseau textarea:focus {
    outline: none;
    box-shadow: 0 0 6px var(--tertiary-color);
}

/* Bouton envoyer */
.reseau .form-submit {
    text-align: center;
    margin-top: 10px;
}

.reseau button {
    padding: 10px 25px;
    border-radius: 8px;
    background-color: transparent;
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s ease;
}

.reseau button:hover {
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
}

.form-response {
    text-align: center;
    font-weight: bold;
    border-radius: 8px;
}

.form-response.success {
    background-color: #c4e9c4;
    color: #2e602e;
    border: 1px solid #2e602e;
}

.form-response.error {
    background-color: #f8d1d1;
    color: #912d2d;
    border: 1px solid #912d2d;
}


@media (max-width: 768px) {
    .contact-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    #cv {
        display: none;
        justify-content: center;
    }

    .contact-cv {
        width: 90%;
    }

    .reseau h2 {
        font-size: 110%;
    }

    .con-div-but{
        margin: 25px;
    }
}



/*###############
## EXPERIENCES ##
###############*/

.section-exp {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;
    gap: 1%; 
}

.section-exp h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.badges span {
    display: inline-block;
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
<<<<<<< HEAD
    box-shadow: 0 0 25px rgba(214, 151, 51, 0.7);
=======
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.7);
>>>>>>> 07aea04c4f529c69787569ef656bdec804239e6a
    padding: 6px 10px;
    margin: 5px 5px 0 0;
    border-radius: 6px;
    font-size: 0.9em;
}

.badges div h2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.screenshots img {
    max-width: 100%;
    border-radius: 8px;
}


.page-project {
<<<<<<< HEAD
=======
    height: 80vh;
>>>>>>> 07aea04c4f529c69787569ef656bdec804239e6a
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2% 8%;
    box-sizing: border-box;
    overflow: hidden;
}
  
.project-title {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
}
  
.project-main {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 10px;
}
  
.project-links {
    text-align: center;
    margin-top: 10px;
}

.palerte{
    display: flex;
    align-items: center; 
    justify-content: center;
    color: red;
}

@media (max-width: 768px) {
    .page-project {
      height: auto;
      overflow: auto;
    }
  
    .project-main {
      flex-direction: column;
      align-items: center;
    }
  
    .carousel {
      order: 1;
    }
  
    .badges {
      order: 2;
      margin-top: 30px;
      text-align: center;
<<<<<<< HEAD
      margin-bottom: 30px;
=======
>>>>>>> 07aea04c4f529c69787569ef656bdec804239e6a
    }
  
    .project-title {
      font-size: 1.8em;
    }
  
    .carousel img {
      height: auto;
    }
}
  


/* carousel */

.carousel {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 40px auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}
  
.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
  
.carousel-item {
    min-width: 100%;
    border-radius: 10px;
}
  
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2em;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    border: none;
    padding: 0 15px;
    cursor: pointer;
    z-index: 2;
    border-radius: 50%;
}
  
.prev:hover, .next:hover {
    background: rgba(0, 0, 0, 0.6);
}
  
.prev { left: 10px; }
.next { right: 10px; }
  


/* carousel fin */
<<<<<<< HEAD


/*###############
##### ABOUT #####
###############*/

.skills-section {
    padding: 0px 20px;
    text-align: center;
}

.skills-title {
    font-size: 2.5em;
    margin-bottom: 40px;
    color: var(--tertiary-color);
}

.skills-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.skills-card {
    background-color: var(--secondary-color);
    border-radius: 20px;
    padding: 30px;
    width: 300px;
    color: white;
}

.skills-card h3 {
    color: var(--tertiary-color);
    margin-bottom: 20px;
}

.skills-card ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.skills-card li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0;
    padding-bottom: 8px;
    border-bottom: 1px solid #2a2a2a;
}

.skill-name {
    font-weight: bold;
    color: white;
    text-align: left;
}

.skill-level {
    color: #aaa;
    font-size: 0.85rem;
    text-align: right;
}

@media (max-width: 768px) {
    .skills-container {
        flex-direction: column;
        align-items: center;
    }
}




.timeline-section {
    padding: 60px 20px;
    color: var(--secondary-color);
}

.timeline-title {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 50px;
    color: var(--tertiary-color);
}

.timeline {
    position: relative;
    max-width: 1000px;
    margin: auto;
    padding: 0 20px;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 4px;
    background-color: var(--secondary-color);
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.timeline-item {
    padding: 20px 40px;
    position: relative;
    width: 50%;
}

.timeline-item.left {
    left: 0;
}

.timeline-item.right {
    left: 50%;
}

.timeline-item::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: var(--tertiary-color);
    border-radius: 50%;
    top: 24px;
    z-index: 1;
    left: calc(50% - 10px);
}

.timeline-item .content {
    padding: 20px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    position: relative;
    border-radius: 8px;
    box-shadow: 0 0 45px rgba(0,0,0,0.1);
}

.timeline-item .content p{
    color: var(--primary-color);
}

.timeline-item .content h3{
    color: var(--primary-color);
}

.timeline-item.left .content {
    margin-right: auto;
    margin-left: 0;
}

.timeline-item.right .content {
    margin-left: auto;
    margin-right: 0;
}

.timelinework-item {
    padding: 20px 40px;
    position: relative;
    width: 50%;
}

.timelinework-item.left {
    left: 0;
}

.timelinework-item.right {
    left: 50%;
}

.timelinework-item::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    top: 24px;
    z-index: 1;
    left: calc(50% - 10px);
}

.timelinework-item .content {
    padding: 20px;
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    position: relative;
    border-radius: 8px;
    box-shadow: 0 0 45px rgba(0,0,0,0.1);
}

.timelinework-item .content p{
    color: var(--secondary-color);
}

.timelinework-item .content h3{
    color: var(--secondary-color);
}

.timelinework-item.left .content {
    margin-right: auto;
    margin-left: 0;
}

.timelinework-item.right .content {
    margin-left: auto;
    margin-right: 0;
}

.reveal {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1.2s ease, transform 1.2s ease;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}   

.skill-appear {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInSkill 0.6s ease forwards;
}

@keyframes fadeInSkill {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.skillbox-appear {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInSkillbox 0.6s ease forwards;
}

@keyframes fadeInSkillbox {
    0% {
      transform: scale(0);
      opacity: 0.8;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
}

@media (max-width: 768px) {
    .timeline::after {
        left: 8px;
    }

    .timeline-item {
        width: 100%;
        padding-left: 30px;
        padding-right: 20px;
    }

    .timeline-item.right {
        left: 0;
    }

    .timeline-item.left .content,
    .timeline-item.right .content {
        margin: 0;
    }

    .timelinework-item {
        width: 100%;
        padding-left: 30px;
        padding-right: 20px;
    }

    .timelinework-item.right {
        left: 0;
    }

    .timelinework-item.left .content,
    .timelinework-item.right .content {
        margin: 0;
    }
}
=======
>>>>>>> 07aea04c4f529c69787569ef656bdec804239e6a
